<ion-view view-title="FoodCart">
    <ion-content class="padding">
        <h2>Metodo de pagamento</h2>
        <ion-list>
            <ion-radio class="item-remove-animate" type="item-text-wrap">
                DINHEIRO
            </ion-radio>
            <ion-radio class="item-remove-animate" type="item-text-wrap">
                MULTIBANCO
            </ion-radio>
            <ion-radio class="item-remove-animate" type="item-text-wrap">
                PAYPAL
            </ion-radio>
            <ion-radio class="item-remove-animate" type="item-text-wrap">
                MBNET
            </ion-radio>
            <ion-radio class="item-remove-animate" type="item-text-wrap">
                NFC
            </ion-radio>
        </ion-list>
        <button class="button button-block button-calm" onclick="finalize()" ng-click="end()" >Pagar</button>
    </ion-content>

</ion-view>
